* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* basic mark down styling inside message bubbles */
.message-bubble ul {
    list-style-type: disc;   
    padding-left: 1.5rem;    
}

.message-bubble ol {
    list-style-type: decimal;   
    padding-left: 1.5rem;     
}

.message-bubble pre{
    background-color: #272727;
    padding: 20px;
    border-radius: 10px;
}

.message-bubble code {
    font-family: 'Fira Mono', monospace;
    border-radius: 4px;
    color: #00a3d7;
    font-size: 90%; 
    text-wrap: auto;
}
.message-bubble strong{
    color: #fff;
}
/***************************************/

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex; 
    height: 100vh; 
    background-color: #343541; 
    color: white; 
}

#synapse h3{
    color: #4261af; 
    background: linear-gradient(to right, #b23ee4, #5871ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24px;
}

h4{
    color: #909090;
}

/* Sidebar Styles */
#sidebar {
    width: 320px;
    background-color: #1e1f20;
    display: flex;
    flex-direction: column;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#synapse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    
}
#synapse img{
    width: 84px;
    height: 84px;
}
.new-chat-btn {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #4d4d4f;
    background: transparent;
    color: #7a7a7a;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
}

.new-chat-btn img{
    width: 20px;
    height: 20px;
}

.new-chat-btn:hover { 
    background-color: #2b2c2f; 
    color: #b8b8b8;

}


article.text-heading{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

    
article.text-heading img{
    width: 20px;
    height: 20px;
}

#past-chats{
    flex-grow: 1;
    overflow-y: auto;
    margin-top: -20px;
}


#chat-list {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
}

.chat-item {
    padding: 10px;
    margin: 2px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
}

#chat-list li.active{
    background-color: #2b2c2f;
}


.chat-item:hover { background-color: #2b2c2f; }

#no-chats-banner {
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
    font-size: 15px;
    color: #909090;
}

/* Main Panel Styles */
#main-panel {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
}

#conversation-wrapper {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}


#messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 0;
    display: block;
    position: relative;
    scrollbar-gutter: stable;
    scrollbar-width: none;
    scroll-behavior: auto;
}

#chat-spacer{
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.message-bubble {
    max-width: 600px;
    width: 90%;
    padding: 20px;
    margin-bottom: 20px;
    color: #f3f3f3;
    clear: both;
    display: block;
}

.user-msg { 
    width: fit-content;
    background-color: #242424; 
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
}
.assistant-msg { 
    border-radius: 5px; 
    margin-left: 10px;
    margin-right: auto;
    line-height: 1.4;
    white-space: pre-wrap;
}

#welcome-message{
    margin: 200px auto;
    text-align: center;
}

#welcome-message img{
    width: 128px;
}

#welcome-message p{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/* Input Area Styles */
#input-area {
    padding: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(180deg, rgba(52,53,65,0), #24242400 50%);
    flex-shrink: 0;
}

.input-container {
    position: relative;
    width: 100%;
    max-width: 800px;
}

#user-input {
    width: 100%;
    padding: 12px 45px 12px 15px;
    background-color: #242424;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    color: white;
    font-size: 17px;
    outline: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

#send-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #acacbe;
    cursor: pointer;
    font-size: 1.2rem;
}



/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3a3a42; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #767685;
}
